{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    {{ block.super}}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/history.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %} 

{% block content %}
<div class="history-container">
    {% include 'navbar.html' %}

    <div class="history-content">
        <div class="title-container">
            <h1>{% trans "かこのひとこと" %}</h1>
        </div>

        <div class="message-container">
            {% if past_posts %}
                {% for each in past_posts %}
                <div class="message-wrapper" id="message-wrapper-{{ each.pk }}">
                    <div class="content-box">
                        <div class="quote-begin-container">
                            <img class="quote-begin" src="{% static 'image/quote-begin.png' %}" alt="image">  
                        </div>
                        <p class="content">{{each.content}}</p>
                        <div class="quote-end-container">
                            <img class="quote-end" src="{% static 'image/quote-end.png' %}" alt="image">
                        </div>
                    </div>
                    {% if each.reference %}
                    <div class="reference-box">
                        <p class="reference">{{each.reference}}</p>
                    </div>
                    {% endif %}
                    <div class="like-delete-container">
                        <div class="like-container">
                            <div class="like-container-inner">
                                <p>{{each.likes}}</p>
                                <img src="{% static 'image/good.png' %}" alt="image">
                            </div>
                            <div class="like-received">
                                <p>{% trans "受け取ったいいね数" %}</p>
                            </div>
                        </div>
                        <div class="delete-container">
                            <img class="delete-button" id="delete-button" onclick="toggleDelete(event, '{{ each.pk }}')" src="{% static 'image/delete.png' %}" alt="image"> 
                            <div class="delete">
                                <p>{% trans "削除" %}</p>
                            </div>
                            <div class="is-deleting" id="is-deleting-{{ each.pk }}">
                                <p>{% trans "本当に削除しますか？" %}</p>
                                <p>{% trans "この投稿は今後誰にも表示されなくなります。" %}</p>
                                <div class="option-buttons">
                                    <button class="delete-no" onclick="toggleDelete(event, '{{ each.pk }}')">{% trans "いいえ" %}</button>
                                    <button class="delete-yes" onclick="deletePost('{{ each.pk }}')">{% trans "はい" %}</button>
                                </div>
                            </div>
                        </div>
                        <script>
                            function toggleDelete(event, post_id) {
                                const window = document.getElementById(`is-deleting-${post_id}`);
                                const clickedElement = event.target;
                                if (clickedElement.classList.contains("delete-no")) {
                                    window.style.visibility = "hidden";
                                } else if (clickedElement.classList.contains("delete-button")){
                                    window.style.visibility = "visible"; 
                                }
                            }
                            function deletePost(post_id) {
                                $.ajax({
                                url: `/delete-p/`, // URL pattern to call the view
                                type: "POST",
                                data: {
                                    post_id: post_id,
                                    csrfmiddlewaretoken: "{{ csrf_token }}", // CSRF token for security
                                },
                                success: function (response) {
                                    //close delete window
                                    document.getElementById(`is-deleting-${post_id}`).style.visibility = "hidden";
                                    //remove deleted post
                                    document.getElementById(`message-wrapper-${post_id}`).remove(); 
                                },
                                error: function (response) {
                                    console.log("delete unsuccessful: Error->", response.responseJSON.error);
                                },
                                });
                            }
                        </script>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            {% else %}
                <p class="no-data">{% trans "データなし" %}</p>
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}