{% extends 'main.html' %}

{% block content %}
<div class="home-content">
    {% include 'navbar.html' %}
    {% include 'title.html' %}


    {% if warn and warn == 3 %}
    <div>
        <p>このアカウントは度重なる警告を無視したとみなされたため、停止されました。</p>
    </div>

    {% else %}
    <div>
        <a href="{% url 'todays-msg' %}" class="receive-button">うけとる</a>

        <p>このページでは匿名で励ましの言葉やお気に入りの言葉を受け取ったり、送ったりすることができます。</p>
        <!-- TODO design -->
        {% if count %}
        <div>
            <div>
    
                <p>過去の投稿に新たに{{count}}個のいいねがつきました！</p>
            </div>
        </div>
        {% endif %}

        {% if warn %}
        <div>
            <div>
                {% if warn == 1 %}
                <p>警告：<br>過去の複数の投稿が不適切であると判断されました。<br>ここは匿名で他人を応援する場です。
                    中傷誹謗、差別的な内容、見た人を不快にする内容、住所・電話番号等個人を特定できる内容等、本来の趣旨にそぐわない投稿は固く禁じます。
                    今後また発覚した場合は以降、一切の投稿を禁じます。</p>
                {% endif %}
                {% if warn == 2 %}
                <p>最終警告：<br>過去の複数の投稿が不適切であると判断されました。<br>ここは匿名で他人を応援する場です。
                    中傷誹謗、差別的な内容、見た人を不快にする内容、住所・電話番号等個人を特定できる内容等、本来の趣旨にそぐわない投稿は固く禁じます。
                    今後また発覚した場合は以降、一切の投稿を禁じます。</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}

</div>
    

{% endblock %}