{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    {{ block.super}}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/settings.css' %}"/>
{% endblock %} 

{% block content %}
<div class="settings-content">
    {% include 'navbar.html' %}

    <div class="settings-content">
        <div class="title-container">
            <h1>{% trans "せってい" %}</h1>
        </div>

        <div class="settings-container">
            <h3>{% trans "言語設定" %}</h3>
            <div class="lang-options">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{% trans '保存' %}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}