.favorite-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overscroll-behavior: contain; /* Apply here */
    height: 100vh;
}

.title-container{
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 1;
}

h1{
    margin: 10px 0px 10px 0px;
    color:black;
    font-size: 90px;
}

.message-container{
    width: auto;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;  /* Firefox */

};

.message-container::-webkit-scrollbar { 
    display: none;  /* Chrome, Safari and Opera */
}

.message-wrapper{
    margin: 20px 0px;
    width: 50vw;
}

.content-box{
    display: inline-block;
    width: fit-content;
    padding: 0px 10px;
    overflow: visible; 
}

h2{
    margin: 0;
    font-size: 50px;
    height: 40px;
    width: 30px;
}

.quote-begin{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin-left: -30px;
}

.quote-end{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin-left: 30px;
}

.content{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.reference{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-top: -20px;
    font-size: 25px;
}

hr{
    border-top: 2px solid black;
    width: 20vw;
    margin-top: 30px;
}

.no-data{
    font-size: 40px;
}