.history-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overscroll-behavior: contain;
    height: 100vh;
    margin-bottom: 30px;
}

.title-container{
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 1;
}

h1{
    margin: 10px 0px 10px 0px;
    color:black;
    font-size: 90px;
}

.message-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 70vw;
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;  /* Firefox */
};

.message-container::-webkit-scrollbar { 
    display: none;  /* Chrome, Safari and Opera */
}

.message-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
    max-width: 100%;
}

.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px 10px;
    margin: 55px 0;
    overflow: visible;
}

.content-box img{
    width: 55px;
    padding: 0px 15px;
}

.quote-begin-container{    
    height: 100%;
    margin-top: -100px;
}

.quote-end-container{    
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    margin-bottom: -100px;
}

.content{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.reference-box{
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 10px 0px;
}

.reference{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.like-delete-container{
    display: flex;
    justify-content: end;
    align-items: start;
    margin-top: 10px;
    width: 100%;
}

.like-delete-container p{
    margin: 0;
}

.like-delete-container img{
    width: 45px;
    padding: 0 10px;
}

.like-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-container-inner{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.like-container-inner p{
    font-size: 25px;
}

.like-container-inner:hover + .like-received {
    visibility: visible;
}

.like-received{
    visibility: hidden;
    background-color: lightgrey;
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 6px;
}

.delete-container{
    height: inherit;
    position: relative;
}

.delete-button{
    background-color: transparent;
    height: 50%;
}

.delete-button:hover {
    cursor: pointer;
}

.delete-button:hover + .delete {
    visibility: visible;
}

.delete-button:hover {
    cursor: pointer;
}

.delete{
    visibility: hidden;
    background-color: lightgrey;
    font-size: 13px;
    padding: 2px 0px;
    border-radius: 6px;
    margin-top: -2px;
}

.is-deleting{
    visibility: hidden;
    background-color: lightgrey;
    border-radius: 10px;
    text-align: start;
    padding: 10px;
    width: 200px;
    position: absolute;
    top: -30px;
    right: 0;
}

.is-deleting p{
    margin: 5px;
}

.option-buttons button{
    margin: 10px;
    border: none;
    background-color: transparent;
}

.option-buttons button:hover{
    cursor: pointer;
    background-color: grey;
    border-radius: 5px;
}

.option-buttons{
    text-align: center;
}

hr{
    border-top: 2px solid black;
    width: 20vw;
    margin-top: 15px;
}

.no-data{
    font-size: 40px;
}