{% extends 'main.html' %}
{% load i18n %}

{% block content %}
<div class="completed-content">
    {% include 'navbar.html' %}
    {% include 'title.html' %}

    <div class="thanks-container">
        <h3>{% trans "すべてのメッセージを受けとり終わったようです。" %}</h3>
    </div>

    <div class="go-post">
        <p>{% trans "もっと投稿しますか？" %}</p>
        <a href="{% url 'new-post' %}" class="go-post-button">{% trans "投稿する" %}</a>

        <p>{% trans "履歴をリセットして、もう一度はじめから受けとりますか？（お気に入りはリセットされません）" %}</p>
        <a href="{% url 'reset-history' %}" class="go-post-button">{% trans "はじめから" %}</a>
    </div>
</div>
{% endblock %}