<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        <link rel="stylesheet" type="text/css" media='screen' href="{% static 'styles/main.css' %}">
        {% endblock %}
    </head>

    <body> 
        <div class="home-content">
            <div class="background-image"></div>

            {% block content %}
            {% endblock %}

            </div>
        </div>
    </body>
</html>