body{
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text within elements */
    height: 100vh; /* Make the container take full viewport height */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%; /* Cover the top half */
  background-image: linear-gradient(to top, white 0%, transparent 90%), linear-gradient(to right, #802000, #EE82EE);
  z-index: -1; /* Ensure it stays behind other content */
}