.sidenav-button{
    position: fixed;
    z-index: 1;
    margin: 10px;
    top: 0;
    left: 0;
}

.sidenav-button button{
    width: 70px; 
    height: 70px; 
    font-size: 70px;
    border: none;
    background: transparent;
}

.sidenav-button button:hover{
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    visibility: hidden;
}

.sidenav-content{
    margin-top: 70px;
}

.sidenav a{
    padding: 30px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
}

.sidenav a:hover{
    color:#f1f1f1;
    cursor: pointer;
}

.sidenav button{
    position: fixed;
    left: 0;
    width: 70px; 
    height: 70px; 
    font-size: 70px;
    color: #EE82EE;
    border: none;
    background: transparent;
}

.sidenav button:hover{
    cursor: pointer;
}